<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="../style.css">
        <title>Fitness Logger</title>
    </head>
    <body>
        {{{body}}}
    </body>
</html>